# Exclude standart folder
bin/
obj/
.vs/
TestResults/
**/packages/*
Debug/
Release/

# Exclude standart files
*.suo
*.user
*.datasource
Thumbs.db
*.key
*.DotSettings
**/XmlDocument.xml

/**/.idea/**/*.*
*.png
**/_ReSharper.Caches/*
